@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/robotoregular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/robotobold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/robotolight.woff") format("woff");
  font-style: normal;
}
