body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
ul,
hr {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  margin: 0;

  font-size: inherit;

  background: transparent;

  border: none;
  outline: none;

  cursor: pointer;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
}

select {
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
}
